<div class="card shadow text-center" style="max-width: 350px; min-width: 350px">
    <div class="card-body">
        <h5>Gift Shop management System</h5>
        <p class="card-text">A Fullstack web application for an online gift shop</p>
        <button class="btn btn-primary">View more</button>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="tag me-2 mb-1">Skills</div>
            <!-- <div class="tag me-2 mb-1">TypeScript</div> -->
        </div>
    </div>
</div>