/* You can add global styles to this file, and also import other style files */
/* .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
} */

.container {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  transition: 0.4s ease;
  padding: 15px;
}
.container:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 30px rgba(0, 123, 255, 0.2); /* bluish glow */
}