<div class="container">
    <div class="text-center mt-5">
        <h2>Welcome to My Portfolio Website</h2>
        <img src="me.png" alt="profile picture"  class="rounded-circle" width="250" height="350">
        <p class="lead">Explore my projects, resume, and get in touch!</p>
    </div>
</div>
<div class="container">
    <div class="text-center mt-5">
        <h2>About Me</h2>
        <p class="lead">A motivated and detail-oriented Computer Science undergraduate with a solid foundation in software development and problem-solving. Actively engaged in leadership and cross-cultural experiences through AIESEC, fostering teamwork, adaptability, and strong communication skills. Passionate about learning emerging technologies, contributing to innovative projects, and creating meaningful impact in both technical and collaborative environments.</p>
    </div>
</div>